Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-ts-files:
      glob: '*.{ts,tsx}'
      run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc
    format-other-files:
      glob: '*.{yml,json,html,md}'
      run: prettier --write {staged_files}

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update actions/checkout action to v3
  .github/workflows/check.yml
  .github/workflows/deploy.yml
Due: format-other-files

fix(deps): update dependency hono to v0.5.1
  package-lock.json
  package.json
Due: format-other-files

chore: fix hono type conflict
  src/ambient.d.ts
  src/api/add.ts
  src/api/clip-error.ts
  src/api/clip-fetch.ts
  src/api/del.ts
  src/api/get.ts
  src/binding.d.ts
  src/worker.ts
Due: format-ts-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

chore: modify title tag selector
  src/api/clip-fetch.ts
Due: format-ts-files

chore: modify renovate config
  .github/renovate.json
Due: format-other-files

chore(deps): update non-major-dev-dependencies
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v0.5.4
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update node.js to v16.14.2
  .node-version
Due: none

chore: remove custom 404
  src/worker.ts
Due: format-ts-files

chore: log with strigify json
  src/worker.ts
Due: format-ts-files

fix(deps): update dependency hono to v0.5.5
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency prettier to v2.6.1
  package-lock.json
  package.json
Due: format-other-files

chore: update renovate config
  .github/renovate.json
Due: format-other-files

chore(deps): update dependency esbuild to v0.14.28
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v0.5.6
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v0.5.7
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency esbuild to v0.14.29
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v0.5.8
  package-lock.json
  package.json
Due: format-other-files
