Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

format-ts-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-other-files:
  run: prettier --write {staged_files}

ci: fix needs job name
  .github/workflows/deploy.yml
Due: format-other-files

chore: update resource target to clip
  public/site.webmanifest
  src/api/helper/image.ts
Due: format-ts-files

chore: modify correct image upload preset
  src/api/helper/image.ts
Due: format-ts-files

ci: add workflow permission
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: format-other-files

ci: update renovate config
  .github/renovate.json
Due: format-other-files

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update actions/setup-node action to v2.4.0
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: format-other-files

fix(deps): update dependency node-html-parser to v4.1.4
  package-lock.json
  package.json
Due: format-other-files

refactor: rename page type and del api
  src/api/controller/add.ts
  src/api/controller/del.ts
  src/api/controller/get.ts
  src/api/helper/image.ts
  src/api/helper/kv.ts
  src/api/helper/parse.ts
  src/api/index.ts
  src/components/item-image.tsx
  src/components/item.tsx
  src/hooks/page.ts
  src/pages/index.tsx
  src/types/page.ts
Due: format-ts-files

ci: modify renovate config
  .github/renovate.json
Due: format-other-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

fix(deps): update dependency react-query to v3.21.1
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency react-query to v3.23.2
  package-lock.json
  package.json
Due: format-other-files

chore: remove lefthook
  lefthook.yml
  package-lock.json
  package.json
Due: format-other-files

chore: lockfile maintenance
  package-lock.json
Due: format-other-files

chore: modify wrangler config
  wrangler.toml
Due: none

chore: build main field
  package.json
  wrangler.toml
Due: format-other-files

chore: replace by fs-extra
  package-lock.json
  package.json
  script/build.ts
Due: format-ts-files, format-other-files

chore: replace esno to esbuild-register
  package-lock.json
  package.json
Due: format-other-files

chore: add warnglerVersion field
  .github/workflows/deploy.yml
Due: format-other-files

chore: add wrangler compatibility_date
  .github/workflows/deploy.yml
  wrangler.toml
Due: format-other-files

Path conditions:
  format-ts-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,html,md}
