Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

format-ts-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-other-files:
  run: prettier --write {staged_files}

fix(deps): update dependency hono to v0.3.5
  package-lock.json
  package.json
Due: format-other-files

chore: add .node-version
  .node-version
Due: none

chore: add kv id
  wrangler.toml
Due: none

chore: add title
  src/root.tsx
Due: format-ts-files

style: remove useless z-index
  public/style.css
Due: none

chore: remove waitUntil
  src/routes/api/add.ts
  src/routes/api/remove.ts
Due: format-ts-files

chore: add enough meta tags
  src/root.tsx
Due: format-ts-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

chore: modify git ignore
  .gitignore
  .prettierignore
Due: none

chore: use defaultValue instead value
  src/components/clip-item.tsx
Due: format-ts-files

chore: use waitUntil async handler
  src/routes/api/add.ts
  src/routes/api/remove.ts
  src/worker.ts
Due: format-ts-files

chore: use direct throw json response instead custom error
  src/routes/api/add.ts
  src/routes/api/remove.ts
  src/utils/clip-error.ts
Due: format-ts-files

chore: modify remove image
  src/routes/api/remove.ts
Due: format-ts-files

chore(deps): update node.js to v16.14.0
  .node-version
Due: none

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependencies (non-major) to v1.2.1
  package-lock.json
  package.json
Due: format-other-files

ci: rename check job
  .github/workflows/check.yml
Due: format-other-files

chore: use swr instead of react-query
  package-lock.json
  package.json
  src/render.tsx
  src/view/clip-hook.ts
Due: format-ts-files, format-other-files

chore: modify error type
  src/api/add.ts
  src/api/clip-error.ts
  src/api/del.ts
  src/worker.ts
Due: format-ts-files

fix(deps): update dependency hono to v0.4.2
  package-lock.json
  package.json
Due: format-other-files

chore: remove useless package
  package-lock.json
  package.json
  tsconfig.json
Due: format-other-files

chore(deps): update actions/setup-node action
  .github/workflows/check.yml
  .github/workflows/deploy.yml
Due: format-other-files

ci: use .node-version on setup-node
  .github/workflows/deploy.yml
Due: format-other-files

chore: move README to root
  README.md
Due: format-other-files

Path conditions:
  format-ts-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,html,md}
