Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

format-ts-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-other-files:
  run: prettier --write {staged_files}

chore: wrangler version fix
  .github/workflows/deploy.yml
Due: format-other-files

chore: fix entry-point
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  script/build.ts
  wrangler.toml
Due: format-ts-files, format-other-files

chore: modify env on only deploy job
  .github/workflows/deploy.yml
Due: format-other-files

chore: use latest wrangler on action
  .github/workflows/deploy.yml
Due: format-other-files

chore: replace esbuild to vite
  package-lock.json
  package.json
  script/build.ts
  src/frontend/index.html
  src/frontend/index.tsx
  src/frontend/pages/index.tsx
  src/frontend/public/robots.txt
  tsconfig.json
Due: format-ts-files, format-other-files

chore: modify build result
  script/build.ts
Due: format-ts-files

feat: add extension
  .eslintignore
  .gitignore
  .prettierignore
  .vscode/settings.json
  package-lock.json
  package.json
  script/build-extension.ts
  script/build.ts
  src/extension/assets/icon_x128.png
  src/extension/background.ts
  src/extension/docs/screenshot_1280x800.key
  src/extension/docs/screenshot_1280x800.png
  src/extension/manifest.json
  tsconfig.json
Due: format-ts-files, format-other-files

chore: remove useless permission
  src/extension/manifest.json
Due: format-other-files

chore: fix webmanifest
  script/build.ts
  src/frontend/assets/site.webmanifest
  src/frontend/public/icon_x192.png
  src/frontend/public/icon_x512.png
Due: format-ts-files

chore: remove build.manifest
  script/build.ts
Due: format-ts-files

chore: lockfile maintenance
  package-lock.json
  package.json
Due: format-other-files

chore: move vite plugin react
  package-lock.json
  package.json
  script/build.ts
Due: format-ts-files, format-other-files

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

chore(deps): update actions/setup-node action to v2.4.1
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: format-other-files

chore: pin volta
  package.json
Due: format-other-files

chore: use tsno from esno
  package-lock.json
  package.json
  tsconfig.json
Due: format-other-files

chore: rename script directory
  bin/build-extension.ts
  bin/build.ts
  bin/dev.ts
  package.json
Due: format-ts-files, format-other-files

chore: modify reset npm script
  package.json
Due: format-other-files

chore: simplify dev script
  bin/dev.ts
Due: format-ts-files

chore: back to use esno
  package-lock.json
  package.json
Due: format-other-files

Path conditions:
  format-ts-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,html,md}
