Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-ts-files:
      glob: '*.{ts,tsx}'
      run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc
    format-other-files:
      glob: '*.{yml,json,html,md}'
      run: prettier --write {staged_files}

fix(deps): update dependency hono to v1.3.1
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v1.3.3
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v1.3.4
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v1.3.5
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v1.3.6
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency @cloudflare/workers-types to v3.11.0
  package-lock.json
  package.json
Due: format-other-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

chore(deps): update dependency @types/react-dom to v18.0.5
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency typescript to v4.7.2
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v1.4.0
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v1.4.1
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency esbuild to v0.14.40
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update npm-non-major-dev-dependencies
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency @types/react to v18.0.10
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency hono to v1.4.2
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update cloudflare/wrangler-action action to v2
  .github/workflows/deploy.yml
Due: format-other-files

chore: modify upload image size limit
  functions/api/add.ts
Due: format-ts-files

chore: validate image url
  bindings.d.ts
  functions/api/add.ts
  util/fetch-clip-info.ts
Due: format-ts-files

chore: remove image size limit
  functions/api/add.ts
  util/app-error.ts
Due: format-ts-files

chore(deps): update node.js to v16.15.1
  .node-version
Due: none

chore: update image upload
  .mf/kv/KV_CLIP_DATA/1653921868644.meta.json
  .mf/kv/KV_CLIP_DATA/1654184315847
  .mf/kv/KV_CLIP_DATA/1654184315847.meta.json
  .mf/kv/KV_CLIP_DATA/1654421443713
  .mf/kv/KV_CLIP_DATA/1654421443713.meta.json
  .mf/kv/KV_CLIP_DATA/data
  bindings.d.ts
  functions/api/add.ts
  util/app-helper.ts
  util/fetch-clip-image.ts
  util/fetch-clip-info.ts
Due: format-ts-files, format-other-files
