Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

format-ts-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-other-files:
  run: prettier --write {staged_files}

chore(deps): update npm-non-major-dev-dependencies
  package-lock.json
  package.json
Due: format-other-files

chore: modify data namespace
  .mf/kv/KV_CLIP_DATA/clip-data
  util/kv-repository.ts
  wrangler.toml
Due: format-ts-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

chore: update renovate config
  .github/renovate.json
Due: format-other-files

chore: build worker result to dist
  package.json
Due: format-other-files

chore: modify build step
  package.json
Due: format-other-files

chore: change hooks name
  src/components/clip-item.tsx
  src/components/clip-list.tsx
  src/hooks/clip.ts
Due: format-ts-files

fix: throw correct error
  src/utils/get-clip-info.ts
Due: format-ts-files

feat: simplify for cf-pages
  .gitignore
  .mf/kv/KV_CLIP_DATA/1656173826841
  .mf/kv/KV_CLIP_DATA/1656173826841.meta.json
  .mf/kv/KV_CLIP_DATA/clip-data
  .prettierignore
  .vscode/settings.json
  functions/_middleware.ts
  functions/api/add.ts
  functions/api/del.ts
  functions/api/get.ts
  functions/image.ts
  index.html
  package-lock.json
  package.json
  src/api/del.ts
  src/api/get.ts
  src/api/image.ts
  src/bindings.d.ts
  src/functions/api/add.ts
  src/functions/api/del.ts
  src/functions/api/get.ts
  src/functions/error-handler.ts
  src/functions/image.ts
  src/index.css
  src/index.tsx
  src/utils/error.ts
  src/utils/get-clip-info.ts
  src/utils/kv-repository.ts
  src/worker.ts
  vite.config.ts
  wrangler.toml
Due: format-ts-files, format-other-files

chore: modify integration test file
  integration-test/api-get.http
  integration-test/api.http
Due: none

fix: image respond function
  functions/image.ts
  functions/image/[key].ts
  src/components/clip-item.tsx
  src/functions/image/key.ts
Due: format-ts-files

feat: remove clip on mobile by long-press
  package-lock.json
  package.json
  src/components/clip-item.tsx
  src/index.css
Due: format-ts-files, format-other-files

style: disable user-select all element
  src/index.css
Due: none

ci: read from .node-version
  .github/workflows/check.yml
Due: format-other-files

chore: bump node version
  .node-version
Due: none

chore: change long press threshold
  src/components/clip-item.tsx
Due: format-ts-files

style: implement natural border
  src/index.css
Due: none

chore: remove long press
  package-lock.json
  package.json
  src/components/clip-item.tsx
Due: format-ts-files, format-other-files

ci: remove NODE_ENV
  .github/workflows/check.yml
  .github/workflows/deploy.yml
Due: format-other-files

chore: trpc link use relative path
  src/client/index.tsx
Due: format-ts-files

chore: disable workers.dev route
  wrangler.toml
Due: none

feat: implement empty component #230
  src/client/components/empty.tsx
  src/client/pages/index.tsx
  src/client/styles/index.css
Due: format-ts-files

chore: remove useless deps
  package-lock.json
  package.json
Due: format-other-files

ci: change workflow name
  .github/workflows/deploy-worker.yml
Due: format-other-files

refactor: move server-side only utils
  src/server/api/add.ts
  src/server/api/image.ts
  src/server/helper/clip.ts
  src/server/helper/error.ts
  src/server/helper/kv.ts
  src/server/index.ts
  src/server/trpc/router.ts
Due: format-ts-files

chore: add trpc error handling
  src/server/trpc/handler.ts
Due: format-ts-files

refactor: move server-side routing files
  src/client/components/clip-item.tsx
  src/server/index.ts
  src/server/router/api/add.ts
  src/server/router/image/index.ts
  src/server/router/trpc/context.ts
  src/server/router/trpc/index.ts
  src/server/router/trpc/router.ts
  src/util/trpc.ts
Due: format-ts-files

chore: move client root
  src/client/index.html
  src/client/public/apple-touch-icon.png
  src/client/public/favicon.svg
  src/client/public/icon192.png
  src/client/public/icon512.png
  src/client/public/manifest.json
  src/client/public/robots.txt
  vite.config.ts
Due: format-ts-files, format-other-files

chore: modify typescript include files
  tsconfig.json
Due: format-other-files

feat: switch to hono v3 with rpc
  .prettierrc.cjs
  index.html
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/favicon.svg
  public/icon192.png
  public/icon512.png
  public/manifest.json
  public/robots.txt
  src/client/api/clip.ts
  src/client/components/clip-item.tsx
  src/client/components/clip-list.tsx
  src/client/components/icon-delete.tsx
  src/client/components/icon-image.tsx
  src/client/index.tsx
  src/client/pages/index.tsx
  src/schema/clip.ts
  src/server/helper/kv.ts
  src/server/index.ts
  src/server/router/api/add.ts
  src/server/router/image/index.ts
  src/server/router/trpc/context.ts
  src/server/router/trpc/index.ts
  src/server/router/trpc/router.ts
  src/util/trpc.ts
  vite.config.ts
Due: format-ts-files, format-other-files

chore: remove type response from useless endpoint
  src/server/index.ts
Due: format-ts-files

chore: update dependencies
  package-lock.json
  package.json
Due: format-other-files

chore: back to existing route
  src/bindings.d.ts
  src/client/api/clip.ts
  src/server/index.ts
Due: format-ts-files

chore(deps): update dependencies
  package-lock.json
  package.json
  src/client/components/clip-list.tsx
  src/server/index.ts
Due: format-ts-files, format-other-files

chore(deps): update dependencies
  package-lock.json
  package.json
  src/client/components/clip-list.tsx
Due: format-ts-files, format-other-files

Path conditions:
  format-ts-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,html,md}
