Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

format-ts-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-other-files:
  run: prettier --write {staged_files}

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

chore(deps): update dependency @vitejs/plugin-react to v1.1.4
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

chore: use swr instead of react-query
  package-lock.json
  package.json
  src/components/item.tsx
  src/hooks/use-page.ts
  src/main.tsx
Due: format-ts-files, format-other-files

ci: ignore renovate update wrangler
  .github/renovate.json
Due: format-other-files

chore: remove useless setting
  tsconfig.json
Due: format-other-files

style: update by windicss
  .mf/kv/DB/data
  package-lock.json
  package.json
  src/components/icon-delete.tsx
  src/components/icon-image.tsx
  src/components/image.tsx
  src/components/item.tsx
  src/helpers/hook.ts
  src/main.tsx
  src/style.css
  tsconfig.json
  vite.config.ts
  windi.config.ts
Due: format-ts-files, format-other-files

style: fix long url overflow
  .mf/kv/DB/data
  package.json
  src/components/item.tsx
Due: format-ts-files, format-other-files

style: update item layout
  src/components/image.tsx
  src/components/item.tsx
  src/main.tsx
Due: format-ts-files

style: font size optimize for mobile
  src/components/item.tsx
Due: format-ts-files

style: modify line-height and text gap
  .mf/kv/DB/data
  src/components/item.tsx
Due: format-ts-files

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency swr to v1.2.0
  package-lock.json
  package.json
Due: format-other-files

chore: bump dependencies version
  package-lock.json
  package.json
Due: format-other-files

chore: add github-actions and renovate config
  .github/README.md
  .github/renovate.json
  .github/workflows/check-pr.yml
  .github/workflows/deploy-main.yml
Due: format-other-files

chore: add worker name
  wrangler.toml
Due: none

chore: move main field
  package.json
  wrangler.toml
Due: format-other-files

chore: declare module type
  package.json
Due: format-other-files

chore: revert declare module type
  package.json
Due: format-other-files

chore: fix deploy settings
  package.json
  wrangler.toml
Due: format-other-files

style: remove useless comment
  public/style.css
Due: none

chore: add delete button
  public/style.css
  src/view/item.tsx
Due: format-ts-files

style: hide delete button on mobile
  public/style.css
Due: none

fix(deps): update dependency hono to v0.3.5
  package-lock.json
  package.json
Due: format-other-files

Path conditions:
  format-ts-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,html,md}
