Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

format-ts-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-other-files:
  run: prettier --write {staged_files}

ci: fix to prebuild common
  .github/workflows/check.yml
Due: format-other-files

chore: add prettierignore on client
  apps/client/.prettierignore
Due: none

ci: fix jobs by module
  .github/workflows/check.yml
Due: format-other-files

ci: fix ts include
  .github/workflows/check.yml
  batch/tsconfig.json
  extension/src/ambient.d.ts
  extension/tsconfig.json
  tsconfig.json
Due: format-ts-files, format-other-files

ci: remove npm ci
  .github/workflows/check.yml
Due: format-other-files

ci: add npm ci
  .github/workflows/check.yml
Due: format-other-files

chore: add README
  README.md
Due: format-other-files

chore: improve error message
  web/client/api/clip.ts
  web/server/helpers/clip.ts
  web/server/helpers/kv.ts
Due: format-ts-files

Path conditions:
  format-ts-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,html,md}
