Repository ymkz/clip: changes, and which lefthook commands are due for each by the changed paths.
All: format-ts-files, format-other-files

format-ts-files:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && npm run lint:tsc

format-other-files:
  run: prettier --write {staged_files}

chore: remove useless validation
  src/backend/api/render.ts
  src/backend/helper/validation.ts
  src/backend/index.ts
Due: format-ts-files

chore: rename unused variable name
  src/backend/api/render.ts
Due: format-ts-files

refactor: error-handling, routing, naming
  src/backend/api/add.ts
  src/backend/api/del.ts
  src/backend/api/get.ts
  src/backend/helper/error.ts
  src/backend/helper/image.ts
  src/backend/helper/kv.ts
  src/backend/helper/parse.ts
  src/backend/helper/response.ts
  src/backend/index.ts
  src/backend/router/add.ts
  src/backend/router/del.ts
  src/backend/router/get.ts
  src/backend/router/render.ts
  src/frontend/components/image.tsx
  src/frontend/components/item.tsx
  src/frontend/hooks/use-page.ts
  src/types/page.ts
Due: format-ts-files

refactor: rename util
  src/backend/helper/fetch.ts
  src/backend/router/add.ts
Due: format-ts-files

chore(deps): update dependency npm to v8.1.1
  package.json
Due: format-other-files

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency react-query to v3.27.0
  package-lock.json
  package.json
Due: format-other-files

chore: update some types
  package-lock.json
  package.json
  src/backend/index.ts
  src/frontend/hooks/use-page.ts
  tsconfig.json
Due: format-ts-files, format-other-files

chore: add css order with prettier formatting
  package-lock.json
  package.json
  src/frontend/index.css
Due: format-other-files

test: add integration test
  package-lock.json
  package.json
  src/backend/index.test.ts
Due: format-ts-files, format-other-files

chore: fix some types and deps
  package-lock.json
  package.json
  src/backend/index.ts
  src/backend/router/add.ts
  src/backend/router/del.ts
  tsconfig.json
Due: format-ts-files, format-other-files

chore(deps): lock file maintenance
  package-lock.json
Due: format-other-files

fix: import missing module from node-html-parser
  package.json
  src/backend/helper/fetch.ts
  test/index.test.ts
  tsconfig.json
Due: format-ts-files, format-other-files

chore: replace react vite plugin
  bin/build.ts
  package-lock.json
  package.json
Due: format-ts-files, format-other-files

ci: add test job
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: format-other-files

chore: modify build script
  bin/build.ts
Due: format-ts-files

chore(deps): update node.js to v16.13.0
  package.json
Due: format-other-files

chore(deps): update dependency @types/chrome to v0.0.162
  package-lock.json
  package.json
Due: format-other-files

fix(deps): update dependency node-html-parser to v5.1.0
  package-lock.json
  package.json
Due: format-other-files

chore(deps): update dependency npm to v8.1.3
  package.json
Due: format-other-files

fix(deps): update dependency react-query to v3.31.0
  package-lock.json
  package.json
Due: format-other-files

chore: pin node version
  .node-version
  package.json
Due: format-other-files

fix(deps): update dependency react-query to v3.32.2
  package-lock.json
  package.json
Due: format-other-files

Path conditions:
  format-ts-files: any of: *.{ts,tsx}
  format-other-files: any of: *.{yml,json,html,md}
